h1 {
  text-transform: capitalize;
}
li {
  text-transform: capitalize;
}
p::first-letter {
  text-transform: uppercase;
}

h1,
h2 {
  color: blueviolet;
}
.box > .done {
  color: firebrick;
}

.box li {
  color: blue;
}

li.done {
  color: seagreen;
}
